.board {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 450px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  position: relative;
  width: min(400px, 90vw);
  box-sizing: border-box;
}

.box {
  background-color: green;
  aspect-ratio: 1/1;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  background-size: cover;
  background-position: center;
}

.box > * {
  font-weight: bolder;
}

.box .bi-x {
  font-size: min(21vw, 105px);
}

.box .bi-circle {
  font-size: min(14vw, 80px);
}

.winbox {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.winbox .winline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.winbox .winline .line {
  border: 10px solid red;
  border-radius: 23px;
  animation: 1s ease-in forwards;
}

.names {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffedcb;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: calc(100vh - 45px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

@keyframes popUp {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.complay {
  width: 100vh;
  color: wheat;
  font-size: 3rem;
  text-align: center;
}
