.boardnavbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.boardnavbarpopup {
  height: 100vh !important;
  height: 100dvh !important;
  top: 0px !important;
  z-index: 4 !important;
}

.waiting {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
