* {
    margin: 0px;
    padding: 0px;
}
html{
    height: 100vh;
    background: url('https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}